{% load helpers %}

<div class="row">
{% for user in user_ranking %}
<div class="col s6">
    <div class="card">
        <div class="card-content omrss-card-content">
            {% if user.intro %}
            <a href="{{ user.url }}" target="_blank">
                <span class="card-title omrss-recent-title">{{ user.intro }}</span>
            </a>

            <div class="divider nav-divider"></div>
            {% endif %}
            <div>
                {% if user.level >= 10 %}
                <figure class="avatar spectre-badge omrss-avatar-sm omrss-right-space" data-badge="V">
                    <img src="{{ user.avatar }}" alt="头像">
                </figure>
                {% else %}
                <img src="{{ user.avatar }}" class="circle omrss-recent-avatar omrss-text omrss-right-space" alt="头像" />
                {% endif %}

                <a href="{{ user.url }}" target="_blank">
                    <span class="omrss-recent-site omrss-text">{{ user.name }}</span>
                </a>

                <span class="new right omrss-text omrss-rank-score">{{ user.score }} 天活跃</span>

                <span class="right omrss-text yellow-text text-darken-2 omrss-user-rank-star">
                {% if user.score >= 20 %}
                    ★
                {% endif %}
                </span>

            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
