{% load helpers %}
<ul class="sidenav" id="omrss-sidenav">

    <li>
        <div class="user-view">
            <div class="background">
                <img src="/assets/img/avatar-bg.jpg">
            </div>
            {% if user %}
            <a href="{{ user.oauth_blog }}" target="_blank">

                {% if user.level >= 10 %}
                <span class="omrss-badge omrss-badge-my" data-badge="V">
                    <img src="{{ user.avatar }}" class="circle" alt="头像" />
                </span>
                {% else %}
                    <img src="{{ user.avatar }}" class="circle" alt="头像" />
                {% endif %}

            <a href="{{ user.oauth_blog }}" target="_blank">
                <span class="white-text name nav-name">{{ user.oauth_name }}</span></a>
            {% else %}
            <a href="#model-omrss-login" class="modal-trigger">
                <i class="material-icons white-text circle omrss-visitor-avatar">person</i></a>
            <a href="#model-omrss-login" class="modal-trigger">
                <span class="white-text name nav-name">一键登录</span></a>
            {% endif %}
        </div>
    </li>

    <li class="ev-toggle-fullscreen sidenav-close omrss-nodisplay" data-tooltip="切换全屏" data-position="bottom">
        <a href="#"><i class="material-icons omrss-color">fullscreen</i>切换全屏</a>
    </li>

    <li><a href="#" class="waves-effect sidenav-close ev-my-feed">
        <i class="material-icons omrss-color">rss_feed</i>我的订阅</a>
    </li>

    <li><a href="#" class="waves-effect sidenav-close ev-my-star">
        <i class="material-icons omrss-color">star_border</i>我的收藏</a>
    </li>

    <li class="omrss-nodisplay">
        <a href="#" class="waves-effect ev-mark-readall sidenav-close">
            <i class="material-icons omrss-color">check</i>全部设为已读</a>
    </li>

    <li class="ev-leave-msg sidenav-close">
        <a href="#"><i class="material-icons omrss-color">format_quote</i>留言</a>
    </li>

    <div class="divider nav-divider"></div>

    <li class="ev-intro sidenav-close">
        <a href="#"><i class="material-icons omrss-color">info_outline</i>关于</a>
    </li>

    <li class="ev-faq sidenav-close">
        <a href="#"><i class="material-icons omrss-color">help_outline</i>FAQ</a>
    </li>

    <li>
        <a href="/dash" target="_blank" class="sidenav-close">
            <i class="material-icons omrss-color">trending_up</i>后台报表</a>
    </li>
</ul>


<nav id="omrss-nav">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo tooltipped" id="omrss-logo-font" data-tooltip="首页"
           data-position="bottom"><img src="/assets/img/logo.svg" id="omrss-logo">己思</a>

        <a href="#" class="left tooltipped omrss-onlyunread ev-toggle-onlyunread" data-tooltip="切换只看未读"
           data-position="bottom"><i class="material-icons omrss-color"></i></a>

        <a href="#" class="left tooltipped omrss-readmode ev-toggle-readmode" data-tooltip="切换浏览视图"
           data-position="bottom"><i class="material-icons omrss-color"></i></a>

        <form class="omrss-top-form">
            <div class="input-field">
                <input id="omrss-search" type="search" class="omrss-top-form-icon omrss-color"
                       placeholder="搜索源或内容" required>
                <label class="label-icon omrss-top-form-icon" for="omrss-search">
                    <i class="material-icons omrss-color">search</i></label>
            </div>
        </form>

        <ul class="right">
            <!--
            <li class="tooltipped" data-tooltip="过去一周未读数" data-position="bottom" id="omrss-unread"></li>
            -->
            <li id="omrss-unread"></li>

            <li class="ev-explore"><a class="omrss-color" href="#">发现</a></li>
            <li class="ev-ranking"><a class="omrss-color" href="#">排行榜</a></li>
            <!--
            <li class="tooltipped ev-explore" data-tooltip="发现" data-position="bottom">
                <a href="#"><i class="material-icons omrss-color">highlight</i></a>
            </li>
            -->

            {% if not user %}
                <li>
                    <a href="#model-omrss-login" class="modal-trigger omrss-color">一键登录</a>
                </li>

                <!--
                <li class="tooltipped" data-tooltip="一键登录" data-position="bottom">
                    <a href="#model-omrss-login" class="modal-trigger"><i class="material-icons omrss-color">person</i></a>
                </li>
                -->
            {% else %}
                <li data-oauth-id="{{ user.oauth_id }}"
                    data-oauth-name="{{ user.oauth_name }}" id="omrss-my">

                    {% if user.level >= 10 %}
                    <span class="omrss-badge omrss-badge-36" data-badge="V">
                        <img src="{{ user.avatar }}" class="omrss-avatar circle" alt="头像" />
                    </span>
                    {% else %}
                    <img src="{{ user.avatar }}" class="omrss-avatar circle" alt="头像" />
                    {% endif %}

                </li>

            {% endif %}
            <li><a data-target="omrss-sidenav" class="sidenav-trigger show-on-large">
                <i class="material-icons omrss-color">menu</i></a>
            </li>

        </ul>
    </div>
</nav>

<!-- 登录窗口 -->
<div id="model-omrss-login" class="modal">
    <div class="modal-content">
        <h3>即将跳转到三方平台登录</h3>

        <p>登录后可以跨平台同步数据，享受推荐、收藏等一系列计算特权</p>
        <p>目前仅支持<b> GitHub OAuth </b>认证，过程只会获取您的公开信息，预计需要几秒钟时间</p>

        <div class="modal-footer">
            <a href="https://github.com/login/oauth/authorize?client_id={{ github_oauth_key }}">
                <button class="btn waves-effect waves-light">我知道了</button>
            </a>
        </div>
    </div>
</div>
