{% load helpers %}

<div class="row">
    {% for site in sites %}
    <div class="col s4 omrss-recent-article">
        <div class="card">
            <div class="card-content omrss-card-content">
                <div>
                    <a href="{{ site.link }}" target="_blank">
                        <span class="card-title omrss-recent-title">{{ site.brief|to_clean_brief }}</span>
                    </a>
                </div>

                <div class="divider nav-divider"></div>

                <div>
                    <img src="{{ site.favicon }}" class="circle omrss-recent-avatar omrss-text">
                    <span class="omrss-recent-site omrss-text">{{ user|to_short_site_cname:site }}</span>
                    <span class="waves-effect waves-light btn-small right omrss-text ev-sub-feed omrss-sub-btn"
                          data-site="{{ site.pk }}">订阅</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
