<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

    <!-- UC浏览器强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ浏览器强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <!-- Safari 7.x 全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <title>Dashboard 面板</title>
    <link rel="stylesheet" href="/assets/css/lib.css">
    <link rel="stylesheet" href="/assets/css/pc.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">

    <style>
        .omrss-logs {
            margin: 1rem 12px;
            word-break: break-all;
        }
    </style>

</head>
<body>

{% include 'dashboard/nav.html' %}

<div class="omrss-logs">
    {% for log in logs %}
        <span>{{ log }}</span>
        <br/>
    {% endfor %}
</div>

<script src="/assets/js/lib.js"></script>

<script>
$('.omrss-logs').linkify({
    target: "_blank"
});
</script>

</body>
</html>