/* 指定字体样式 family=Material+Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/static/font/materialicons.v47.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* end */

/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* end */

/* 自定义的样式 */

h1 {
    font-size: 2.1rem;
    margin-top: 1.4rem;
    margin-bottom: 0.8rem;
}
h2 {
    font-size: 1.8rem;
    margin-top: 1.2rem;
    margin-bottom: 0.7rem;
}
h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}
h4 {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}
h5 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}
h6 {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
}

.page-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0;
}

.unread {
    font-size: 8px;
    color: red;
    width: 1rem;
}

.read {
    font-size: 10px;
    color: darkgreen;
    width: 1rem;
}

.meta-icon {
    vertical-align: text-bottom;
    line-height: unset;
    margin-right: 3px;
}

.group-icon {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.thumb-icon {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
}

.meta-time {
    width: 6rem;
}

.meta-left{
    padding-left: 1.2rem;
}

.meta-num {
    width: 2.5rem;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 25rem;
}
.collection-item span {
    display: inline-block;
}

.cnt-left {
    overflow-y: hidden;
    border-right: 1px dashed;
    /* min-width: 28rem; */
}

.cnt-right {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px;
}

.fixed-action-btn {
    right: 4rem;
    bottom: 5rem;
}

.favico {
    max-height: 1.5rem;
    width: 1.5rem;
}

.qrcode {
    display: block;
    margin: 0 auto;
    max-width: 450px;
    overflow-y: hidden;
}

#page {
    position: absolute;
}

#modal-qrcode {
    max-width: 50%;
}

.add-group {
    font-size: 1.2rem;
}

.user-photo {
    width: 50px;
}
.issues {
    border: none;
}
.issue-time {
    padding-left: 2rem;
}

#cancel {
    margin-right: 2rem;
    background-color:  #DFDFDF;
    color: #9F9F9F;
}

/* 适配高分辨率屏幕 */
/*
@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .unread {
        font-size: 8px;
    }
}
*/