{% load helpers %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="referrer" content="never">

    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

    <!-- UC浏览器强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ浏览器强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <!-- Safari 7.x 全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <title>己思 - {{ article.title }}</title>
    <link rel="stylesheet" href="/assets/css/lib.css?v=6">
    <link rel="stylesheet" href="/assets/css/mobile.css?v=24">
    <link rel="shortcut icon" href="/assets/img/logo.svg">
</head>
<body>

{% include 'mobile/nav.html' %}

<div id="omrss-article">
    <!-- 内容标题及介绍 -->
    <h1 id="omrss-article-title">{{ article.title }}</h1>

    <blockquote id="omrss-article-stats">
        {% if article.site.copyright == 20 or article.site.copyright == 0 %}
            摘要转载自
        {% elif article.site.copyright == 30 %}
            原文转载自
        {% endif %}
        「{{ user|to_site_cname:article.site }}」 (<a href="{{ article.src_url }}" target="_blank" class="ev-open-src"
                                       data-id="{{ article.uindex }}">
        {% if article.site.creator == 'wemp' %}
            mp.weixin.qq.com
        {% else %}
            {{ article.src_url |unquote }}
        {% endif %}
        </a> ) By {% to_short_author user s=article.site.id a1=article.author a2=article.site.author %}

        <p id="omrss-read-stats">预计阅读时间<b> 0 </b>分钟（共 0 个字， 0 张图片， 0 个链接）</p>

    </blockquote>

    <!-- 第三方爬虫内容 -->
    <div class="flow-text" id="omrss-third">
        {% autoescape off %}
        {{ article.uindex|to_article_content:article.site_id }}
        {% endautoescape %}
    </div>
</div>

{% include 'mobile/footer.html' %}

<script src="/assets/js/lib.js?v=6"></script>
<script src="/assets/js/mobile.js?v=28"></script>
</body>
</html>
