{% load helpers %}

<div id="omrss-cnt-list">
    {# 内容列表 #}
    <ul class="collection">
        {% for article in articles %}
            <li class="collection-item ev-cnt-list" id="{{ article.uindex }}">
                <div class="omrss-title-line">
                    <img src="{{ article.site.favicon }}" class="circle responsive-img favico"/>

                    {% if user %}
                    {% if user.oauth_id|is_user_read_article:article.uindex %}
                    <span class="omrss-title omrss-title-read">
                        <a href="/post/{{ article.uindex }}" target="_blank">{{ article.title |truncatechars:50 }}</a>
                    </span>
                    <i class="material-icons read">check</i>
                    {% else %}
                    <span class="omrss-title omrss-title-unread">
                        <a href="/post/{{ article.uindex }}" target="_blank">{{ article.title |truncatechars:50 }}</a>
                    </span>
                    <i class="material-icons unread">lens</i>
                    {% endif %}
                    {% else %}
                    <span class="omrss-title omrss-title-read">
                        <a href="/post/{{ article.uindex }}" target="_blank">{{ article.title |truncatechars:50 }}</a>
                    </span>
                    <i class="material-icons read">check</i>
                    {% endif %}
                </div>

                <div class="omrss-meta-line">
                    <span class="meta-author">@{% to_short_author user s=article.site.id a1=article.author a2=article.site.author %}</span>
                    <span class="meta-time prettydate">{{ article.ctime |to_date_fmt }}</span>

                    <span class="right meta-num-s">{{ article.uindex |to_star_uv }}</span>
                    <i class="right material-icons meta-icon star-icon
                    {% if user and user.oauth_id|is_user_stared_article:article.uindex %}
                    omrss-color
                    {% endif %}
                    ">star</i>
                    <span class="right meta-num-l">{{ article.uindex |to_view_uv }}</span>
                    <i class="right material-icons meta-icon visibility-icon">visibility</i>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="omrss-pager">
    {# 翻页 #}
    <ul class="pagination">
        {% if pg.has_previous %}
            <li class="waves-effect ev-page ev-page-previous" title="上一页" data-page="{{ pg.previous_page_number }}">
                <a href="#"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}

        <li class="waves-effect ev-page" title="首页" data-page="1">
            <a href="#">1</a></li>

        <li id="omrss-active-pager" class="omrss-bgcolor"><a href="#">{{ pg.number }}</a></li>

        {% if pg.number <= num_pages %}
            <li class="waves-effect ev-page" title="尾页" data-page="{{ num_pages }}">
                <a href="#">{{ num_pages }}</a></li>
        {% endif %}

        {% if pg.has_next %}
            <li class="waves-effect ev-page ev-page-next" title="下一页" data-page="{{ pg.next_page_number }}">
                <a href="#"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
</div>

