{% load helpers %}
<ul class="collection">
    {% for article in articles %}
        <li class="collection-item ev-cnt-list" id="{{ article.uindex }}">
            <div>
                <img src="{{ article.site.favicon }}" class="circle responsive-img favico"/>
                <span class="omrss-title truncate">{{ article.title |truncatechars:50 }}</span>
                <span class="right">@{{ article.site.author }}</span>
            </div>

            <div>
                <i class="material-icons unread meta-left">lens</i>

                <span class="meta-left meta-time">1小时前</span>
                <span>0人浏览</span>

                <span class="right meta-right meta-num">0</span>
                <i class="material-icons meta-icon right open-icon">open_in_new</i>
                <span class="right meta-right meta-num">0</span>
                <i class="material-icons meta-icon right thumb-icon">thumb_up</i>

                {% if article.site.star >= 30 %}
                    <span class="right meta-right meta-recommend new badge" data-badge-caption="">荐</span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>