{% load helpers %}
<ul class="collection">
    {% for article in articles %}
        <li class="collection-item ev-cnt-list" id="{{ article.uindex }}">
            <div class="omrss-title-line">
                <img src="{{ article.site.favicon }}" class="circle responsive-img favico"/>
                <span class="omrss-title truncate omrss-title-read">{{ article.title |truncatechars:50 }}</span>
                <i class="material-icons read">check</i>
            </div>

            <div class="omrss-meta-line">
                <span class="omrss-meta meta-author">@...</span>
                <span class="meta-time omrss-meta"></span>

<!--                {% if article.site.star >= 30 %}-->
<!--                    <span class="new badge meta-recommend" data-badge-caption="">荐</span>-->
<!--                {% else %}-->
<!--                    <span class="meta-recommend"></span>-->
<!--                {% endif %}-->

                <span class="omrss-view-stat">
                    <i class="material-icons omrss-meta visibility-icon">visibility</i>
                    <span class="meta-num-l omrss-meta">0</span>
                </span>
                <span class="omrss-star-stat">
                    <i class="material-icons omrss-meta star-icon">star</i>
                    <span class="meta-num-l omrss-meta">0</span>
                </span>
            </div>
        </li>
    {% endfor %}
</ul>

<div id="omrss-pager">
    <ul class="pagination">
        <li class="waves-effect ev-page" title="首页" data-page="1"><a href="#">1</a></li>
    </ul>
</div>
