{% load helpers %}

<div id="omrss-site-nav">
    <div class="row">
        <div class="col s3">
            <a class="omrss-color ev-site-back" href="#">
                <i class="omrss-text material-icons">arrow_back</i>
                <span class="omrss-site-back omrss-text">返回</span>
            </a>
        </div>

        <div class="col s8 omrss-text bold omrss-list2-title">
            <img src="{{ site.favicon }}" class="circle omrss-recent-avatar omrss-text" />

            <div class="truncate">{{ site.cname }}(<span id="omrss-cur-site-unread">0</span>)</div>

        </div>

<!--        <div class="col s1">-->
<!--            <a class="omrss-color ev-site-sync" href="#" data-site="{{ site.pk }}" data-articles="{{ articles }}">-->
<!--                <i class="material-icons right omrss-text tooltipped sync-bar-icon" data-tooltip="立刻更新"-->
<!--                   data-position="bottom">sync</i></a>-->
<!--        </div>-->

        <div class="col s1">
            <a class="omrss-color ev-site-readall" href="#" data-site="{{ site.pk }}" data-articles="{{ articles }}">
                <i class="material-icons right omrss-text tooltipped" data-tooltip="标记已读"
                   data-position="bottom">check</i></a>
        </div>
    </div>
</div>


<div id="omrss-cnt-list">

    <ul class="collection">
        {% for article in pg.object_list %}
            <li class="collection-item ev-cnt-list" id="{{ article.uindex }}" data-recent="{{ article.is_recent }}"
                data-type="{{ article.site.creator }}">

                <div class="omrss-title-line">
                    <img src="{{ article.site.favicon }}" class="circle responsive-img favico"/>
                    {% if user %}
                    {% if user.oauth_id|is_user_read_article:article.uindex or not article.is_recent %}
                        <span class="omrss-title truncate omrss-title-read">{{ article.title |truncatechars:50 }}</span>
                        <i class="material-icons read">check</i>
                    {% else %}
                        <span class="omrss-title truncate omrss-title-unread">{{ article.title |truncatechars:50 }}</span>
                        <i class="material-icons unread">lens</i>
                    {% endif %}
                    {% else %}
                        <span class="omrss-title truncate omrss-title-read">{{ article.title |truncatechars:50 }}</span>
                        <i class="material-icons read">check</i>
                    {% endif %}
                </div>

                <div class="omrss-meta-line">
                    <span class="omrss-meta meta-author">@{{ article.author |to_short_author:article.site.author }}</span>
                    <span class="meta-time prettydate omrss-meta">{{ article.ctime |to_date_fmt }}</span>

                    <span class="right meta-num-l omrss-meta">{{ article.uindex |to_star_uv }}</span>
                    <i class="right material-icons meta-icon omrss-meta star-icon
                    {% if user and user.oauth_id|is_user_stared_article:article.uindex %}
                    omrss-color
                    {% endif %}
                    ">star</i>

                    <span class="right meta-num-l omrss-meta">{{ article.uindex |to_view_uv }}</span>
                    <i class="right material-icons meta-icon omrss-meta visibility-icon">visibility</i>

                    {% if article.site.star >= 30 %}
                        <span class="right new badge meta-recommend" data-badge-caption="">荐</span>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="omrss-pager">
    {# 翻页 #}
    <ul class="pagination">
        {% if pg.has_previous %}
            <li class="waves-effect ev-page ev-page-previous" title="上一页" data-page="{{ pg.previous_page_number }}"
                data-site="{{ site.pk }}">
                <a href="#"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}

        <li class="waves-effect ev-page" title="首页" data-page="1" data-site="{{ site.pk }}">
            <a href="#">1</a></li>

        <li id="omrss-active-pager" class="omrss-bgcolor"><a href="#">{{ pg.number }}</a></li>

        {% if pg.number <= num_pages %}
            <li class="waves-effect ev-page" title="尾页" data-page="{{ num_pages }}" data-site="{{ site.pk }}">
                <a href="#">{{ num_pages }}</a></li>
        {% endif %}

        {% if pg.has_next %}
            <li class="waves-effect ev-page ev-page-next" title="下一页" data-page="{{ pg.next_page_number }}"
                data-site="{{ site.pk }}">
                <a href="#"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
</div>

