{% load helpers %}
<div id="omrss-recommend"></div>

<div class="card-panel hoverable flex-container" id="omrss-article-bottom">

    <div class="text-darken-2 omrss-article-bottom bottom-flex-bar">
        <a class="btn-flat waves-effect ev-star-article" data-id="{{ article.uindex }}" href="#">
        <i class="material-icons omrss-article-bottom star2-icon">star</i> <span>收藏文章</span></a>
    </div>

    <div class="text-darken-2 omrss-article-bottom bottom-flex-bar">
        <a href="{{ article.src_url }}" target="_blank" class="ev-open-src btn-flat waves-effect"
           data-id="{{ article.uindex }}">
            <i class="material-icons omrss-article-bottom" style="font-size: 1.15rem;">open_in_new</i> 去原文留言</a>
    </div>

    <div class="text-darken-2 omrss-article-bottom bottom-flex-bar">
        <a href="#" class="btn-flat waves-effect" id="omrss-top">
            <i class="material-icons omrss-article-bottom">publish</i> 回到顶部</a>
    </div>
</div>

<script>
    {% if not user %}
        {% if article.site.copyright < 30 %}
            $('#omrss-third').css('overflow', 'hidden');
            $('#omrss-third').css('max-height', getBriefHeight());
            $('.cnt-right').css('overflow-y', 'hidden');
        {% else %}
            $('.cnt-right').css('overflow-y', 'scroll');
        {% endif %}
    {% else %}
        $('.cnt-right').css('overflow-y', 'scroll');
    {% endif %}
</script>
