<div class="card-panel hoverable" id="omrss-article-bottom">
    <!--
    <span class="text-darken-2 add-group">想要更多技术交流和探讨？欢迎
        <a href="#omrss-modal-qrcode" class="modal-trigger tooltipped" data-tooltip="加群互动"
           data-position="top" id="omrss-addgp" data-id="{{ article.uindex }}">
            <i class="material-icons add-group">touch_app</i>点此加群互动</a></span>
    -->
    {% if article.site.copyright == 20 %}
        <div class="text-darken-2 omrss-article-bottom center-align">
            <a href="{{ article.src_url }}" target="_blank" class="tooltipped ev-open-src" data-tooltip="查看原文"
               data-position="top" data-id="{{ article.uindex }}">
                <i class="material-icons omrss-article-bottom">open_in_new</i> 查看原文</a>
        </div>
    {% else %}
        <div class="text-darken-2 omrss-article-bottom center-align">
            <a href="{{ article.src_url }}" target="_blank" class="tooltipped ev-open-src" data-tooltip="去原文留言"
               data-position="top" data-id="{{ article.uindex }}">
                <i class="material-icons omrss-article-bottom">open_in_new</i> 去原文留言</a>
        </div>
    {% endif %}



</div>

<!-- Modal Structure -->
<div id="omrss-modal-qrcode" class="modal">
    <div class="modal-content">
        <img class="qrcode" src="/static/img/qrcode.jpg"/>
    </div>
</div>

<script>
    $('#omrss-modal-qrcode').modal({"dismissible": true});
    {% if article.site.copyright == 20 %}
        $('#omrss-third').css('overflow', 'hidden');
        $('#omrss-third').css('max-height', getBriefHeight());
    {% endif %}
</script>