{% load helpers %}
<h1><i class="material-icons">highlight</i> 发现</h1>

<div class="divider"></div>

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4"><a class="omrss-color active" href="#">最近更新</a></li>
            <li class="tab col s4"><a class="omrss-color" href="#">思友点评</a></li>
            <li class="tab col s4"><a class="omrss-color" href="#">新提交源</a></li>
        </ul>
    </div>
</div>

<div class="row">
    {% for article in articles %}
    <div class="col s6 omrss-recent-article">
        <div class="card">
            <div class="card-content omrss-card-content">
                <a href="{{ article.src_url }}" target="_blank">
                    <p class="card-title omrss-recent-title">{{ article.title }}</p>
                </a>

                <div class="divider nav-divider"></div>

                <div>
                    <img src="{{ article.site.favicon }}" class="circle omrss-recent-avatar rss-text">
                    <a href="{{ article.site.link }}" target="_blank" class="tooltipped"
                       data-tooltip="{{ article.site.brief }}">
                        <span class="omrss-recent-site rss-text">{{ article.site.cname |to_short_site_name }}</span>
                    </a>
                    {% if user %}
                        {% if article.site.name in user_sub_feeds %}
                            <span class="waves-light right rss-text" data-name="{{ article.site.name }}">已订阅</span>
                        {% else %}
                            <span class="waves-effect waves-light btn-small right rss-text ev-sub-feed"
                                  data-name="{{ article.site.name }}">订阅</span>
                        {% endif %}
                    {% else %}
                        <span class="waves-effect waves-light btn-small right rss-text ev-sub-feed"
                              data-name="{{ article.site.name }}">订阅</span>
                    {% endif %}


                    <span class="new right omrss-recent-badge">&#8593;{{ article.new }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    $('.tabs').tabs();
    $('.tooltipped').tooltip();
</script>