{% load helpers %}
<h1>›› 我的订阅</h1>

<div class="divider"></div>

<div class="row">
    <div class="input-field col s7">
        <input id="omrss-feed-input" type="text" class="validate">
        <label for="omrss-feed-input" id="omrss-rss-tips">{{ submit_tip }}</label>
    </div>
    <div class="input-field col s5">
        <button class="btn waves-effect waves-light ev-submit-feed" type="submit">提交RSS源
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>


<div class="row">
    {% for feed in show_feeds %}
        <div class="col s6 omrss-item" data-star="{{ feed.star }}" data-name="{{ feed.name }}">
            <img src="{{ feed.favicon |default:'/assets/img/rss.png' }}" class="circle responsive-img favico rss-text"/>
            <div class="rss-title rss-text">
                <a href="{{ feed.link }}" target="_blank" class="tooltipped" data-tooltip="{{ feed.brief }}"
                   data-position="top">{{ feed.cname }}</a>
            </div>

            <a class="waves-effect waves-light btn-small right rss-text omrss-right-space ev-toggle-feed"
               data-name="{{ feed.name }}">取消订阅</a>
            <span class="rss-text right omrss-right-space omrss-tag">{{ feed.tag }}</span>
            <span class="right rss-text omrss-right-space yellow-text text-darken-2">{{ feed.star |to_stars }}</span>
        </div>
    {% endfor %}
</div>

<div class="divider"></div>

<!-- 评分低的隐藏 -->
<div class="card-panel hoverable ev-display-btn">
    <div class="text-darken-2 omrss-article-bottom center-align">
        <a href="#!"><i class="material-icons omrss-article-bottom">unfold_more</i> 查看更多</a>
    </div>
</div>

<div class="row hide" id="omrss-rss-hide">
    {% for feed in hide_feeds %}
        <div class="col s6 omrss-item" data-star="{{ feed.star }}" data-name="{{ feed.name }}">
            <img src="{{ feed.favicon |default:'/assets/img/rss.png' }}" class="circle responsive-img favico rss-text"/>
            <div class="rss-title rss-text">
                <a href="{{ feed.link }}" target="_blank" class="tooltipped" data-tooltip="{{ feed.brief }}"
                   data-position="top">{{ feed.cname }}</a>
            </div>

            <a class="waves-effect waves-light btn-small right rss-text omrss-right-space ev-toggle-feed"
               data-name="{{ feed.name }}">取消订阅</a>
            <span class="rss-text right omrss-right-space omrss-tag">{{ feed.tag }}</span>
            <span class="right rss-text omrss-right-space yellow-text text-darken-2">{{ feed.star |to_stars }}</span>
        </div>
    {% endfor %}
</div>

<script>
    $('.tooltipped').tooltip();

    // 轮换RSS提示信息
    let before_tip = '提交RSS源，例如：https://coolshell.cn/feed';
    let after_tip = '{{ submit_tip }}';
    setInterval(function () {
        if ($('#omrss-rss-tips').length === 1) {
            console.log('开始切换tip');
            $('#omrss-rss-tips').text(before_tip);
            before_tip = after_tip;
            after_tip = $('#omrss-rss-tips').text();
        }
    }, 8000);
</script>
