{% load helpers %}

<h1><i class="material-icons">rss_feed</i> 我的订阅</h1>

<div class="divider"></div>

<div class="row">
    <div class="input-field col s9">
        <input id="omrss-feed-input" type="text" class="validate">
        <label for="omrss-feed-input" id="omrss-rss-tips">{{ submit_tip }}</label>
    </div>
    <div class="input-field col s3">
        <button class="btn waves-effect waves-light ev-submit-feed" type="submit">提交 RSS 源
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

{% if user %}
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6 ev-my-subs">
                <a class="omrss-color active" href="#omrss-my-subs">已订阅</a></li>
            <li class="tab col s6 ev-my-unsubs">
                <a class="omrss-color" href="#omrss-my-unsubs">未订阅</a></li>
        </ul>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6 ev-my-subs">
                <a class="omrss-color active" href="#omrss-my-subs">推荐订阅</a></li>
            <li class="tab col s6 ev-my-unsubs">
                <a class="omrss-color" href="#omrss-my-unsubs">更多订阅</a></li>
        </ul>
    </div>
</div>
{% endif %}

<div class="row" id="omrss-my-subs">
    {% for feed in sub_sites %}
        <div class="col s6 omrss-item" data-star="{{ feed.star }}" data-name="{{ feed.name }}">
            <img src="{{ feed.favicon |default:'/assets/img/rss.png' }}" class="circle omrss-recent-avatar rss-text"/>
            <a href="{{ feed.link }}" target="_blank">
                <span class="omrss-recent-site rss-text">{{ feed.cname |to_short_site_name }}</span>
            </a>

            <span class="waves-effect waves-light btn-small right rss-text ev-toggle-feed omrss-sub-btn omrss-bgcolor"
               data-name="{{ feed.name }}">取消订阅</span>
            <span class="right rss-text omrss-recent-badge yellow-text text-darken-2">{{ feed.star |to_stars }}</span>
        </div>
    {% endfor %}
</div>

<div class="row" id="omrss-my-unsubs">
    {% for feed in unsub_sites %}
        <div class="col s6 omrss-item" data-star="{{ feed.star }}" data-name="{{ feed.name }}">
            <img src="{{ feed.favicon |default:'/assets/img/rss.png' }}" class="circle omrss-recent-avatar rss-text"/>

            <a href="{{ feed.link }}" target="_blank">
                <span class="omrss-recent-site rss-text">{{ feed.cname |to_short_site_name }}</span>
            </a>

            <span class="waves-effect waves-light btn-small right rss-text ev-toggle-feed omrss-sub-btn"
              data-name="{{ feed.name }}">订阅</span>

            <span class="right rss-text omrss-recent-badge yellow-text text-darken-2">{{ feed.star |to_stars }}</span>
        </div>
    {% endfor %}
</div>

<script>
    // 轮换RSS提示信息
    var before_tip = '提交 RSS 源，例如：https://coolshell.cn/feed';
    var after_tip = '{{ submit_tip }}';
    setInterval(function () {
        if ($('#omrss-rss-tips').length === 1) {
            console.log('开始切换tip');
            $('#omrss-rss-tips').text(before_tip);
            before_tip = after_tip;
            after_tip = $('#omrss-rss-tips').text();
        }
    }, 8000);
</script>
