<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="referrer" content="no-referrer">
    <meta name="referrer" content="never">

    <title>己思</title>
    <link rel="stylesheet" href="/assets/css/lib.css?v=7">
    <link rel="stylesheet" href="/assets/css/pc.css?v=59">
    <link rel="shortcut icon" href="/assets/img/logo.svg">
</head>
<body id="omrss-body">

<div class="preloader-wrapper big active" id="omrss-loader">
    <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>

<header id="omrss-header">
    {# 顶部导航栏 #}
    {% include 'top/nav.html' %}
</header>

<main>
    {# 页面内容 #}
    <div>
        <div class="eal lighten-2 cnt-left" id="omrss-left">
            <div id="omrss-cnt-list">
                {# 内容列表 #}
                {% include 'left/default.html' %}
            </div>

        </div>

        <div class="eal lighten-5 cnt-right" id="omrss-main">
            {% include 'intro.html' %}
        </div>
    </div>

    <!-- IE Warning -->
    <div id="modal-omrss-ie" class="modal">
        <div class="modal-content">
            <h3>⚠️ 检测到不兼容的浏览器（Internet Explorer）</h3>

            <p>更新您的浏览器，以便在该网站上获得更安全、更快速和更好的体验</p>
            <p>推荐使用：
                <a href="https://www.microsoft.com/edge" target="_blank">Edge</a>、
                <a href="https://www.mozilla.org/firefox/new" target="_blank">Firefox</a>、
                <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">Chrome</a>、
                <a href="https://www.apple.com/safari/" target="_blank">Safari</a>、
                <a href="https://opera.com/" target="_blank">Opera</a>
            </p>

            <div class="modal-footer">
                <a href="#">
                    <button class="modal-close btn waves-effect waves-light">我知道了，稍后更新</button>
                </a>
            </div>
        </div>
    </div>
</main>

<script src="/assets/js/lib.js?v=5"></script>
<script src="/assets/js/pc.js?v=58"></script>
</body>
</html>
