{% if not mobile %}
<h1><i class="material-icons">home</i> 首页</h1>
{% else %}
<h1><i class="material-icons">home</i> 关于</h1>
{% endif %}

<blockquote>
    <p id="omrss-read-stats">预计阅读时间<b> 0 </b>分钟（共 0 个字， 0 张图片， 0 个链接）</p>
</blockquote>

<div class="divider"></div>

<div class="flow-text" id="omrss-third">
    <p>
        「己思」是一个<a href="https://github.com/richshaw2015/oh-my-rss" target="_blank">开源</a>的在线 RSS 阅读服务，旨在为 IT 从业者提供一个优质的学习圈子。
    </p>

    <p>主要功能特性如下：</p>

    <h2>一、持续扩充的订阅源</h2>
    为了确保内容质量，己思对订阅源有严格的筛选标准：

    <ul>
        <li>巨头公司的技术博客</li>
        <li>技术大拿的博客</li>
        <li>互联网名站的热门</li>
    </ul>

    一些支持的订阅源：
    <p>
        <code class="language-markup omrss-color"> 酷 壳 – CoolShell </code>、
        <code class="language-markup omrss-color"> 科技爱好者周刊 </code>、
        <code class="language-markup omrss-color"> GitHub 热门 </code>、
        <code class="language-markup omrss-color"> 湾区日报 </code>、
        <code class="language-markup omrss-color"> 有赞技术团队 </code>、
        <code class="language-markup omrss-color"> FEX 技术周刊 </code>
    </p>

    订阅源主要支持三种类型以满足您的个性化订阅需求：
    <ol>
        <li>通过其他途径生成的 RSS 源（<a class="modal-trigger" href="#modal-submit-rss">在线提交</a>）</li>
        <li>自定义 Scrapy 规则（<a href="https://github.com/richshaw2015/oh-my-rss">贡献源码</a>）</li>
        <li>微信公众号、播客等</li>
    </ol>

    <p></p>

    <h2>二、VimLike 的快捷键</h2>
    Vim 党的福音来了~

    <table class="responsive-table">
        <tr>
            <td><kbd> n </kbd> 下一篇文章（next）</td>
            <td><kbd> N </kbd> 上一篇文章</td>
            <td><kbd> b </kbd> 返回上级（back）</td>
        </tr>

        <tr>
            <td><kbd> p </kbd> 下一页（page）</td>
            <td><kbd> P </kbd> 上一页</td>
            <td><kbd> D </kbd> 标记本页已读并翻页</td>
        </tr>
        <tr>
            <td><kbd> j </kbd> 向下移动一行</td>
            <td><kbd> k </kbd> 向上移动一行</td>
            <td><kbd> space </kbd> 向下翻一页</td>
        </tr>
        <tr>
            <td><kbd> gg </kbd> 回顶部</td>
            <td><kbd> G </kbd> 去底部</td>
            <td><kbd> f </kbd> 链接全览</td>
        </tr>
        <tr>
            <td><kbd> F </kbd> 切换全屏</td>
            <td><kbd> C </kbd> 全部设置已读</td>
        </tr>
    </table>

    <p>还有一个小秘密，方向键也有效果的哦</p>

    <h2>三、隐私保护</h2>
        <ul>
            <li>游客也可以订阅</li>
            <li>账号基于 GitHub OAuth 认证</li>
            <li>无广告、不跟踪</li>
            <li>代码<a href="https://github.com/richshaw2015/oh-my-rss" target="_blank">开源</a>、可私有部署、后台报表透明</li>
        </ul>
    <p></p>

    <h2>四、鸣谢</h2>
    <h3>特别感谢：</h3>
    <p>
        捐款金额大于 <b>968</b> 元的可以在 <a href="https://ohmyrss.com/" target="_blank">己思首页</a>
        永久留下一张 200x200 的静态图片和链接。 请在捐款后将图片与链接发至：
        <a href="mailto:richshaw@126.com?subject=捐赠信息&amp;body=（请附上链接、GitHub 账号、附件 200x200 的静态图片）">
            richshaw@126.com</a>
    </p>
    <p></p>

    {% include 'donate/partner.html' %}

    <h3>本项目使用了如下开源软件：</h3>
    <a href="https://www.djangoproject.com/" target="_blank">Django</a>、
    <a href="https://scrapy.org/" target="_blank">Scrapy</a>、
    <a href="https://materializecss.com" target="_blank">Materialize</a>、
    <a href="https://jquery.org" target="_blank">jQuery</a>、
    <a href="https://redis.io/" target="_blank">Redis</a>、
    <a href="https://sqlite.org/index.html" target="_blank">SQLite</a>

    <p></p>

    <h3>维护者：</h3>
    <p>
        <img src="/assets/img/shaw.jpg" class="omrss-intro-img circle">
        <code class="language-markup omrss-color"> shaw </code>
        广东独立开发者，项目发起人</p>
    <p><a href="https://chechebecomestrong.github.io/">
        <img src="/assets/img/xiaoche.jpg" class="omrss-intro-img circle"></a>
        <code class="language-markup omrss-color"> 小车 </code>
        北京前端开发</p>
    <p><a href="https://github.com/jiajianchang">
        <img src="/assets/img/jiangyou.jpg" class="omrss-intro-img circle"></a>
        <code class="language-markup omrss-color"> 为毛我名叫酱油 </code>
        济南前端全栈</p>
    <p>
        <img src="/assets/img/malu.jpg" class="omrss-intro-img circle">
        <code class="language-markup omrss-color"> 马璐 </code>
        广东产品</p>
    <p></p>

    <!--
    <h3>捐赠者：</h3>
    <a href="https://github.com/richshaw2015" target="_blank">@richshaw2015</a>、
    <a href="https://github.com/bzd111" target="_blank">@bzd111</a>、
    <a href="https://github.com/clark-cui" target="_blank">@clark-cui</a>、
    <a href="https://github.com/CosmosNing" target="_blank">@CosmosNing</a>

    <p></p>
    -->

    <p>欢迎加入 <a href="https://ohmyrss.slack.com/" target="_blank">Slack</a> 或
        <a href="https://github.com/richshaw2015/oh-my-rss" target="_blank">GitHub</a> 交流</p>

</div>

<!-- 提交 RSS 悬浮球 -->
{% if not mobile %}
{% include 'submit_rss.html' %}
{% endif %}
