{% load helpers %}
<h1><i class="material-icons">format_quote</i> 留言</h1>
<div class="divider"></div>

<div class="flow-text">
    {% for msg in msgs %}
    <div class="omrss-issue-line">
        {% if msg.user is None %}
            <img src="{{ msg.uid |to_gravatar_url }}" alt="" class="omrss-issue-avatar circle">
        {% else %}
            <a href="{{ msg.user.oauth_blog }}" target="_blank">
            {% if msg.user.level >= 10 %}
                <figure class="spectre-avatar spectre-badge omrss-avatar-sm omrss-issue-avatar" data-badge="V">
                    <img src="{{ msg.user.avatar }}" alt="头像">
                </figure>
            {% else  %}
                <img src="{{ msg.user.avatar }}" alt="头像" class="omrss-issue-avatar circle">
            {% endif %}
            </a>
        {% endif %}

        <div class="omrss-issue-msg">
            {% if msg.user is None %}
                {% if msg.nickname %}
                <div class="grey-text omrss-issue-name">{{ msg.nickname }}</div>
                {% endif %}
            {% else %}
                <div class="grey-text omrss-issue-name">{{ msg.user.oauth_name }}</div>
            {% endif %}
            <div class="">{{ msg.content }}</div>
        </div>
    </div>

    {% if msg.reply %}
    <div class="omrss-reply-line">
        <div class="omrss-issue-msg"><i class="material-icons">format_quote</i> {{ msg.reply }}</div>
    </div>
    {% endif %}
        <div class="divider"></div>
    {% endfor %}
</div>

<p></p>

<!-- 添加留言 悬浮球 -->
{% include 'add_issue.html' %}
