{% load helpers %}
<h1><i class="material-icons">format_quote</i> 留言</h1>
<div class="divider"></div>

<div class="flow-text">
    <ul class="collection issues">
        {% for msg in msgs %}
        <li class="collection-item avatar omrss-msg">
        {% if msg.user is None %}
            <img src="{{ msg.uid |to_gravatar_url }}" alt="" class="circle">
            <span class="grey-text text-darken-1 omrss-issue-meta omrss-issue-name">
                {% if msg.nickname %}
                    {{ msg.nickname }}
                {% else %}
                    {{ msg.uid |to_fuzzy_uid }}
                {% endif %}
            </span>
            <span class="omrss-issue-meta prettydate grey-text text-darken-1">{{ msg.ctime |to_date_fmt }}</span>
            <p><i class="material-icons">format_quote</i> {{ msg.content }}</p>
            {% if msg.reply %}
                <div class="omrss-reply">{{ msg.reply }}</div>
            {% endif %}
        {% else %}
            <img src="{{ msg.user.avatar }}" alt="" class="circle">
            <span class="grey-text text-darken-1 omrss-issue-meta omrss-issue-name">
                {{ msg.user.oauth_name }}
            </span>
            <span class="omrss-issue-meta prettydate grey-text text-darken-1">{{ msg.ctime |to_date_fmt }}</span>
            <p><i class="material-icons">format_quote</i> {{ msg.content }}</p>
            {% if msg.reply %}
                <div class="omrss-reply">{{ msg.reply }}</div>
            {% endif %}
        {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<!-- 添加留言 悬浮球 -->
{% include 'add_issue.html' %}
