{% load helpers %}

<div id="omrss-cnt-list">
    {# 内容列表 #}
    <ul class="collection">
        {% for article in pg.object_list %}
            <li class="collection-item ev-cnt-list" id="{{ article.uindex }}">
                <div>
                    <img src="{{ article.site.favicon }}" class="circle responsive-img favico"/>
                    <span class="omrss-title truncate omrss-title-unread">{{ article.title |truncatechars:50 }}</span>
                    <span class="right">@{{ article.site.author |default:article.author }}</span>
                </div>

                <div>
                    <i class="material-icons unread meta-left">lens</i>

                    <span class="meta-left meta-time prettydate">{{ article.ctime |to_date_fmt }}</span>
                    <span>{{ uv |to_view_uv:article.uindex }}人浏览</span>

                    <span class="right meta-num">{{ uv |to_open_uv:article.uindex }}</span>
                    <i class="material-icons meta-icon right open-icon">open_in_new</i>
                    <span class="right meta-num">{{ uv |to_thumb_uv:article.uindex }}</span>
                    <i class="material-icons meta-icon right thumb-icon">thumb_up</i>

                    {% if article.site.star >= 30 %}
                        <span class="right meta-recommend new badge" data-badge-caption="">荐</span>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="omrss-pager">
    {# 翻页 #}
    <ul class="pagination">
        {% if pg.has_previous %}
            <li class="waves-effect ev-page ev-page-previous" title="上一页" data-page="{{ pg.previous_page_number }}">
                <a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}

        <li class="waves-effect ev-page" title="首页" data-page="1">
            <a href="#!">1</a></li>

        <li id="omrss-active-pager" class="omrss-bgcolor"><a href="#!">{{ pg.number }}</a></li>

        {% if pg.number < num_pages %}
            <li class="waves-effect ev-page" title="尾页" data-page="{{ num_pages }}">
                <a href="#!">{{ num_pages }}</a></li>
        {% endif %}

        {% if pg.has_next %}
            <li class="waves-effect ev-page ev-page-next" title="下一页" data-page="{{ pg.next_page_number }}">
                <a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
</div>

