{% load helpers %}

<h1><i class="material-icons">rss_feed</i> 我的订阅
{% if reach_sub_limit.0 %}
    <i class="omrss-color" style="font-size: 1.2rem;">已达 {{ reach_sub_limit.1 }} 个订阅数限制</i>
{% endif %}
</h1>


<div class="divider"></div>

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6 ev-my-subs">
                <a class="omrss-color active" href="#omrss-my-subs">已订阅</a></li>
            <li class="tab col s6 ev-my-unsubs">
                <a class="omrss-color" href="#omrss-my-unsubs">推荐订阅</a></li>
        </ul>
    </div>
</div>

<div class="row" id="omrss-my-subs">
    {% for feed in sub_sites %}
        <div class="col s6 omrss-item" data-star="{{ feed.star }}" data-name="{{ feed.name }}" data-site="{{ feed.id }}">
            <img src="{{ feed.favicon |default:'/assets/img/rss.png' }}" class="circle omrss-recent-avatar omrss-text"/>
            <a href="{{ feed.link }}" target="_blank">
                <span class="omrss-recent-site omrss-text">{{ feed.cname |to_short_site_name }}</span>
            </a>

            <span class="waves-effect waves-light btn-small right omrss-text ev-toggle-feed omrss-sub-btn omrss-bgcolor"
               data-name="{{ feed.name }}" data-site="{{ feed.id }}">取消订阅</span>
            <span class="right omrss-text omrss-recent-badge yellow-text text-darken-2">{{ feed.star |to_stars }}</span>
        </div>
    {% endfor %}
</div>

<div class="row" id="omrss-my-unsubs">
    {% for feed in recom_sites %}
        <div class="col s6 omrss-item" data-star="{{ feed.star }}" data-name="{{ feed.name }}" data-site="{{ feed.id }}">
            <img src="{{ feed.favicon |default:'/assets/img/rss.png' }}" class="circle omrss-recent-avatar omrss-text"/>

            <a href="{{ feed.link }}" target="_blank">
                <span class="omrss-recent-site omrss-text">{{ feed.cname |to_short_site_name }}</span>
            </a>

            <span class="waves-effect waves-light btn-small right omrss-text ev-toggle-feed omrss-sub-btn"
              data-name="{{ feed.name }}" data-site="{{ feed.id }}">订阅</span>

            <span class="right omrss-text omrss-recent-badge yellow-text text-darken-2">{{ feed.star |to_stars }}</span>
        </div>
    {% endfor %}
</div>

<!-- 提交 RSS 悬浮球 -->
{% include 'submit_rss.html' %}
