{% load helpers %}

<h1><i class="material-icons">search</i>「{{ keyword }}」 的搜索结果</h1>

<div class="divider"></div>

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6">
                <a class="omrss-color active" href="#search-feed-results">相关订阅源</a></li>

            <li class="tab col s6 ev-search-article">
                <a class="omrss-color" href="#search-article-results">相关文章</a></li>
        </ul>
    </div>
</div>


<div class="row" id="search-feed-results">
    {% for site in rel_sites %}
    <div class="col s6">
        <div class="card">
            <div class="card-content omrss-card-content">

                <a href="{{ site.link }}" target="_blank">
                    <span class="card-title omrss-recent-title">{{ site.brief |to_clean_brief }}</span>
                </a>

                <div class="divider nav-divider"></div>

                <div>
                    <img src="{{ site.favicon }}" class="circle omrss-recent-avatar omrss-text">
                    <a href="{{ site.link }}" target="_blank">
                        <span class="omrss-recent-site omrss-text">{{ site.cname |to_short_site_name }}</span>
                    </a>

                {% if user %}
                    {% if site.pk in user_sub_feeds %}
                        <span class="waves-light right omrss-text omrss-sub-btn" data-name="{{ site.name }}"
                        data-site="{{ site.pk }}">已订阅</span>
                    {% else %}
                        <span class="waves-effect waves-light btn-small right omrss-text ev-sub-feed omrss-sub-btn"
                              data-name="{{ site.name }}" data-site="{{ site.pk }}">订阅</span>
                    {% endif %}
                {% else %}
                    <span class="waves-effect waves-light btn-small right omrss-text ev-sub-feed omrss-sub-btn"
                          data-name="{{ site.name }}" data-site="{{ site.pk }}">订阅</span>
                {% endif %}

                    <span class="right omrss-text yellow-text text-darken-2 omrss-rank-star">{{ site.star |to_stars }}</span>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row" id="search-article-results">
    {% for article in rel_articles %}
    <div class="col s6 omrss-recent-article">
        <div class="card">
            <div class="card-content omrss-card-content">
                <div>
                    <a href="{{ article.src_url }}" target="_blank">
                        <span class="card-title omrss-recent-title">{{ article.title }}</span>
                    </a>
                </div>

                <div class="divider nav-divider"></div>

                <div>
                    <img src="{{ article.site.favicon }}" class="circle omrss-recent-avatar omrss-text">
                    <a href="{{ article.site.link }}" target="_blank" class="tooltipped"
                       data-tooltip="{{ article.site.brief |to_clean_brief }}" data-position="top">
                        <span class="omrss-recent-site omrss-text">{{ article.site.cname |to_short_site_name }}</span>
                    </a>
                    {% if user %}
                        {% if article.site.pk in user_sub_feeds %}
                            <span class="waves-light right omrss-text omrss-sub-btn" data-name="{{ article.site.name }}"
                            data-site="{{ article.site.pk }}">已订阅</span>
                        {% else %}
                            <span class="waves-effect waves-light btn-small right omrss-text ev-sub-feed omrss-sub-btn"
                                  data-name="{{ article.site.name }}" data-site="{{ article.site.pk }}">订阅</span>
                        {% endif %}
                    {% else %}
                        <span class="waves-effect waves-light btn-small right omrss-text ev-sub-feed omrss-sub-btn"
                              data-name="{{ article.site.name }}" data-site="{{ article.site.pk }}">订阅</span>
                    {% endif %}

                    <span class="right omrss-text yellow-text text-darken-2 omrss-rank-star">{{ article.site.star |to_stars }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

