/* 指定字体样式 family=Material+Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/font/materialicons.v47.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* 代码样式 */
pre[class*="language-"], code[class*="language-"] {
    line-height: 1.3;
}
pre[class*="language-"] {
    padding: 21px 12px 7px 12px;
    border: solid 1px rgba(51,51,51,0.12);
    background: rgba(246,246,246,0.2);
}
code, pre {
    position: relative;
    font-size: 1.1rem;
    font-family: monospace, monospace;
}

pre[class*="language-"]:before {
    position: absolute;
    padding: 1px 5px;
    background: #e8e6e3;
    top: 0;
    left: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #555;
    content: attr(class);
    font-size: .9rem;
    border: solid 1px rgba(51,51,51,0.12);
    border-top: none;
    border-left: none;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
/* 代码自动换行。部分站点 pre-wrap 会导致代码排版异常 */
pre {
    overflow: auto;
    /* white-space: pre-wrap; */
    word-wrap: break-word;
    display: block;
    margin: 0 0 10px;
    color: #333;
    word-break: break-all;
    background-color: #f5f5f5;
}
/* 手机屏幕容易超出 */
a, p, li, h1, h2, h3, h4, h5, h6 {
    word-break: break-all;
}

/* 悬浮球动画 */
.fixed-action-btn {
    padding-top: 0;
}

/* end */

/* 自定义的样式 */

h1 {
    font-size: 2.1rem;
    margin-top: 1.4rem;
    margin-bottom: 0.8rem;
}
h2 {
    font-size: 1.8rem;
    margin-top: 1.2rem;
    margin-bottom: 0.7rem;
}
h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}
h4 {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}
h5 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}
h6 {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
}

table {
    table-layout:fixed;
}
td, th{
    overflow: auto;
    word-break: break-all;
}

figure {
    margin: 0.5em 0.5em;
}

/* 针对手机代码样式做补丁 */
figure.highlight, figure .highlight {
    margin: 0;
}
figure.highlight td.gutter, figure .highlight td.gutter{
    display: none !important;
}
figure.highlight td.code, figure .highlight td.code {
    width: 100%;
    overflow: initial;
    padding: 0;
}

figure .highlight > table {
    border-collapse: unset;
}

.nav-wrapper {
    background-color: #24292e;
    padding: auto 0.5rem;
}

.omrss-color {
    color: #f26522 !important;
}

.omrss-logo {
    width: 32px;
    vertical-align: middle;
    margin: auto 0.8rem auto 0.5rem;
}

nav .brand-logo {
    font-size: 1.35rem;
}

#omrss-my {
    vertical-align: middle;
    padding-left: 11px;
    padding-right: 11px;
}

/* 这个属性要适配不同屏幕尺寸 */
.omrss-title {
    font-size: 1.2rem;
    vertical-align: top;
    line-height: 1.8rem;
    word-break: break-word;
    cursor: pointer;
}
.omrss-title a {
    color: inherit;
}
.pagination li {
    width: 15%;
    margin: auto 2%;
}
li#omrss-active-pager {
    width: 15%;
}
#omrss-active-pager a {
    color: #fff;
}

#omrss-loader {
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 999999;
}

.omrss-bgcolor {
    background: #f26522 !important;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-footer {
    height: 50px;
    padding: 0;
    background-color: #364246;
}

.omrss-title-unread {
    /* font-weight: bold; */
    font-weight: 600;
}

.unread {
    font-size: 12px;
    color: #f26522;
    width: 1rem;
}

.read {
    font-size: 14px;
    color: #26a69a;
    width: 1rem;
}

.meta-icon {
    vertical-align: text-bottom;
    line-height: unset;
    margin-right: 3px;
}

.collection-item span {
    display: inline-block;
}

.open-icon {
    font-size: 1.05rem;
}
.visibility-icon {
    font-size: 1rem;
}
.thumb-icon {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
}
.star-icon {
    font-size: 1.1rem;
}

.favico {
    width: 1.8rem;
}

.bottom-flex-bar {
    flex-grow: 1;
}

.fixed-action-btn {
    right: 4rem;
    bottom: 10rem;
}

#omrss-m-panel i.left {
    margin-right: 2px;
}

#omrss-third img, #omrss-third iframe, #omrss-third video {
    max-width: 100% !important;
}
#omrss-third ul:not(.browser-default) {
    padding-left: 1.5em;
    list-style-type: initial;
}
#omrss-third ul:not(.browser-default) > li{
    list-style-type: initial;
}

#omrss-article {
    padding: 0 20px 10px 20px;
}

.flex-container {
  display: flex;
}

#omrss-m-panel {
    padding: 10px;
}
#omrss-main {
    padding: 0 12px;
}

.omrss-visitor-avatar {
    font-size: 64px;
}

.omrss-title-line {
    display: inline-block;
    width: 100%;
}

.omrss-title-line i.read, .omrss-title-line i.unread {
    line-height: 1.8rem;
    margin-right: 0.5rem;
}
.omrss-meta-line{
    line-height: 1.5rem;
}

nav .sidenav-trigger {
    margin: 0 4px !important;
}

.omrss-donate-block {
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
}
.omrss-donate-img {
    width: 80px;
    height: 80px;
}

.omrss-donate-payimg {
    width: 250px;
}


/* 适配不同的屏幕尺寸 */
@media only screen and (min-width: 300px) and (max-width: 340px) {
    .meta-author {
        width: 7em;
    }
    .meta-num {
        width: 2em;
    }
    .meta-time {
        width: 4em;
    }
    .meta-left{
        padding-left: 0.2rem;
    }
    .meta-recommend {
        margin-right: 0.3rem;
    }
    span.badge {
        min-width: 1.8rem;
    }
    .collection .collection-item {
        padding: 8px 2px;
    }
    i.right {
        margin-left: 4px;
    }
    .omrss-title {
        max-width: 80%;
        padding-left: 0.2rem;
    }
}
@media only screen and (min-width: 340px) and (max-width: 370px) {
    .meta-author {
        width: 8em;
    }
    .meta-num {
        width: 1.8em;
    }
    .meta-time {
        width: 4.5em;
    }
    .meta-left{
        padding-left: 0.8rem;
    }
    .meta-recommend {
        margin-right: 0.6rem;
    }
    span.badge {
        min-width: 2rem;
    }
    .collection .collection-item {
        padding: 10px 4px;
    }
    i.right {
        margin-left: 4px;
    }
    .omrss-title {
        max-width: 80%;
        padding-left: 0.2rem;
    }
    .meta-num-s {
        width: 1.5em;
    }
    .meta-num-l {
        width: 1.5em;
    }
}

@media only screen and (min-width: 370px) and (max-width: 400px) {
    .meta-author {
        width: 8em;
    }
    .meta-num {
        width: 2em;
    }
    .meta-time {
        width: 5em;
    }
    .meta-left{
        padding-left: 1rem;
    }
    .meta-recommend {
        margin-right: 0.8rem;
    }
    span.badge {
        min-width: 2.2rem;
    }
    .collection .collection-item {
        padding: 10px 4px;
    }
    i.right {
        margin-left: 4px;
    }
    .omrss-title {
        max-width: 75%;
        padding-left: 0.2rem;
    }
    .meta-num-s {
        width: 1.5em;
    }
    .meta-num-l {
        width: 2em;
    }
}

@media only screen and (min-width: 400px) and (max-width: 460px) {
    .meta-author {
        width: 8em;
    }
    .meta-num {
        width: 2em;
    }
    .meta-time {
        width: 5em;
    }
    .meta-left{
        padding-left: 1rem;
    }
    .meta-recommend {
        margin-right: 1.6rem;
    }
    span.badge {
        min-width: 2.8rem;
    }
    .collection .collection-item {
        padding: 10px 6px;
    }
    i.right {
        margin-left: 6px;
    }
    .omrss-title {
        max-width: 78%;
        padding-left: 0.3rem;
    }
    .meta-num-s {
        width: 2em;
    }
    .meta-num-l {
        width: 2.5em;
    }
}

@media only screen and (min-width: 460px) {
    .meta-author {
        width: 8.5em;
    }
    .meta-num {
        width: 3em;
    }
    .meta-time {
        width: 6em;
    }
    .meta-left{
        padding-left: 2rem;
    }
    .meta-recommend {
        margin-right: 2.5rem;
    }
    span.badge {
        min-width: 3rem;
    }
    .collection .collection-item {
        padding: 18px 18px;
    }
    i.right {
        margin-left: 1rem;
    }
    .omrss-title {
        max-width: 85%;
        padding-left: 0.5rem;
    }
    .meta-num-s {
        width: 2.5em;
    }
    .meta-num-l {
        width: 3.5em;
    }
}
