/* 指定字体样式 family=Material+Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/font/materialicons.v47.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* end */

main {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
}

.omrss-card-content a {
    color: unset !important;
}
/* end */

/* 代码样式 */
pre[class*="language-"], code[class*="language-"] {
    line-height: 1.3;
}
pre[class*="language-"] {
    padding: 21px 12px 7px 12px;
    border: solid 1px rgba(51,51,51,0.12);
    background: rgba(246,246,246,0.2);
}
code, pre {
    position: relative;
    font-size: 1.3rem;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
pre[class*="language-"]:before {
    position: absolute;
    padding: 1px 5px;
    background: #e8e6e3;
    top: 0;
    left: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #555;
    content: attr(class);
    font-size: .9rem;
    border: solid 1px rgba(51,51,51,0.12);
    border-top: none;
    border-left: none;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
/* end */


/* 自定义的样式 */
#omrss-third {
    word-break: break-all;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 0;
}

.unread {
    color: #f26522;
}

.read {
    color: #26a69a;
}
.read, .unread {
    width: 18px;
    margin-left: 10px;
}

.open-icon {
    font-size: 1.05rem;
}
.visibility-icon {
    margin-right: 3px;
    font-size: 0.88rem;
}
.sync-icon {
    font-size: 0.9rem !important;
    margin-right: 2px;
}
.sync-bar-icon {
    font-size: 21.5px;
}
.star-icon {
    font-size: 0.95rem !important;
    margin-right: 3px;
}

.star2-icon {
    font-size: 1.2rem;
    vertical-align: top;
}

.thumb-icon {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
}

.bottom-flex-bar {
    flex-grow: 1;
}

.collection .collection-item .omrss-meta-line, #omrss-article-stats, #omrss-read-stats {
    color: #616161 !important;
}

#omrss-site-nav {
    color: #444;
}

.collection .collection-item.active .omrss-meta-line, .collection .collection-item.active .omrss-meta {
    color: #fff;
}

.meta-left{
    padding-left: 0.5em;
}

.collection .collection-item:not(.active) .omrss-title {
    color: #444;
}

.omrss-title-unread {
    font-weight: bold;
}

.cnt-left {
    position: fixed;
    top: 64px;
    left: 0;
    height: 100%;
    overflow-y: hidden;
    border-right: 1px dashed rgba(0,0,0,0.14);
    padding: 0 10px;
}

.nav-divider {
    margin: 8px 0 8px 0 !important;
}

.nav-name {
    padding-bottom: 16px;
    font-size: 1.2rem !important;
}

.cnt-right {
    position: absolute;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 18px 0 28px;
}
.omrss-recent-badge {
    margin-left: 0;
    margin-right: 2em;
    line-height: 32.4px;
    font-weight: 300;
}

/* 最近更新文章 */
.omrss-recent-avatar {
    height: 32.4px !important;
    width: 32.4px !important;
    margin-right: 0.3rem;
    vertical-align: middle;
}

.omrss-recent-site {
    vertical-align: middle;
}

.omrss-recent-title {
    font-size: 18px !important;
    word-wrap: break-word;
}

.omrss-card-content {
    padding: 12px !important;
}

.btn, .btn-small {
    border-radius: 5px;
}
.omrss-sub-btn {
    min-width: 4rem !important;
    text-align: center;
}

#omrss-recommend {
    margin-top: 0.8rem;
    clear: both;
}

#omrss-recommend .row {
    margin-bottom: 0 !important;
}

.omrss-rank-star {
    width: 80px;
    text-align: center;
}

.omrss-user-rank-star {
    width: 50px;
    text-align: center;
}

.omrss-rank-score {
    font-weight: 300;
}

@media only screen and (max-width: 992px) {
    .cnt-left {
        display: none;
    }
    .omrss-top-form {
        display: none;
    }
    .omrss-readmode, .omrss-onlyunread {
        display: none;
    }
    #omrss-logo-font {
        left: 0;
        -webkit-transform: none;
        transform: none;
    }
    .cnt-right {
        left: 0;
    }
    .flow-text {
        font-size:1.2rem
    }
    h1 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 0.6rem;
    }
    h2 {
        font-size: 1.8rem;
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
    h3 {
        font-size: 1.6rem;
        margin-top: 0.6rem;
        margin-bottom: 0.2rem;
    }
    h4 {
        font-size: 1.4rem;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
    }
    h5 {
        font-size: 1.3rem;
    }
    h6 {
        font-size: 1.2rem;
    }
    #omrss-article-bottom {
        padding-top: 0.8rem;
        padding-bottom: 1rem;
        clear: both;
    }
    .omrss-donate-block {
        margin-right: 4px;
        margin-bottom: 4px;
    }
    .omrss-donate-img {
        width: 75px;
        height: 75px;
    }
}

.omrss-title-line {
    line-height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.omrss-title {
    flex-grow: 1;
}

@media only screen and (min-width: 992px) {
    .omrss-top-form {
        left: 410px;
    }
    .cnt-left {
        width: 400px;
    }
    .cnt-right {
        left: 400px;
    }
    .omrss-readmode {
        left: calc(400px - 54px - 5px);
    }
    .omrss-onlyunread {
        left: calc(400px - 54px - 5px - 54px);
    }
    .collection .collection-item.ev-cnt-list {
        padding: 4px 8px;
    }
    #omrss-pager {
        width: 380px;
    }
    #omrss-pager .pagination {
        margin: 10px 0;
    }
    .meta-author {
        width: 7.5rem;
    }
    .meta-time {
        width: 5rem;
    }
    .omrss-view-stat, .omrss-star-stat {
        width: 4rem;
    }
    .flow-text {
        font-size:1.2rem
    }
    .unread {
        font-size: 12px;
    }
    .read {
        font-size: 14px;
    }
    h1 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 0.6rem;
    }
    h2 {
        font-size: 1.8rem;
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
    h3 {
        font-size: 1.6rem;
        margin-top: 0.6rem;
        margin-bottom: 0.2rem;
    }
    h4 {
        font-size: 1.4rem;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
    }
    h5 {
        font-size: 1.3rem;
    }
    h6 {
        font-size: 1.2rem;
    }
    #omrss-article-bottom {
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    .omrss-donate-block {
        margin-right: 6px;
        margin-bottom: 6px;
    }
    .omrss-donate-img {
        width: 90px;
        height: 90px;
    }
}

@media only screen and (min-width: 1600px) {
    .omrss-top-form {
        left: 510px;
    }
    .cnt-left {
        width: 500px;
    }
    .cnt-right {
        left: 500px;
    }
    .omrss-readmode {
        left: calc(500px - 54px - 5px);
    }
    .omrss-onlyunread {
        left: calc(500px - 54px - 5px - 54px);
    }
    .collection .collection-item.ev-cnt-list {
        padding: 8px 16px;
    }
    #omrss-pager {
        width: 480px;
    }
    #omrss-pager .pagination {
        margin: 15px 0;
    }
    .flow-text {
        font-size:1.3rem
    }
    .meta-author {
        width: 8rem;
    }
    .meta-time {
        width: 6rem;
    }
    .omrss-view-stat, .omrss-star-stat {
        width: 4rem;
    }
    .unread {
        font-size: 14px;
    }
    .read {
        font-size: 16px;
    }

    h1 {
        font-size: 2.4rem;
        margin-top: 1.4rem;
        margin-bottom: 0.8rem;
    }
    h2 {
        font-size: 2.1rem;
        margin-top: 1rem;
        margin-bottom: 0.6rem;
    }
    h3 {
        font-size: 1.8rem;
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
    h4 {
        font-size: 1.5rem;
        margin-top: 0.6rem;
        margin-bottom: 0.3rem;
    }
    h5 {
        font-size: 1.4rem;
    }
    h6 {
        font-size: 1.3rem;
    }

    #omrss-article-bottom {
        padding: 20px;
    }
    .omrss-donate-block {
        margin-right: 8px;
        margin-bottom: 8px;
    }
    .omrss-donate-img {
        width: 100px;
        height: 100px;
    }
}

.rss-title {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1280px) {
    /* 只显示一栏 */
    .omrss-item {
        width: 100% !important;
    }
    .omrss-right-space {
        margin-right: 2rem;
    }
}
@media only screen and (min-width: 1280px) {
    .omrss-right-space {
        margin-right: 0.5rem;
    }
}
@media only screen and (min-width: 1800px) {
    .omrss-right-space {
        margin-right: 2rem;
    }
}
#omrss-header {
    position: fixed;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

#omrss-third img, #omrss-third iframe, #omrss-third video {
    max-width: 100% !important;
}

#omrss-third ul:not(.browser-default) {
    padding-left: 1.5em;
    list-style-type: initial;
}
#omrss-third ul:not(.browser-default) > li{
    list-style-type: initial;
}

.fixed-action-btn {
    right: 4rem;
    bottom: 5rem;
}

.favico {
    width: 24px;
    height: 24px !important;
    margin-right: 4px;
}

.qrcode {
    display: block;
    margin: 0 auto;
    max-width: 450px;
    overflow-y: hidden;
}

#omrss-pager {
    position: fixed;
    bottom: 0;
    border-top: 1px dashed rgba(0,0,0,0.14);
}
#omrss-pager .pagination li {
    border-radius: 5px !important;
}

#omrss-active-pager a {
    color: #fff;
}

.flex-container {
    display: flex;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination li {
    width: 14%;
    margin: auto 3%;
}

#modal-qrcode {
    max-width: 50%;
}

.omrss-visitor-avatar {
    font-size: 64px;
}

#omrss-sidenav {
    /* margin-top: 64px; */
    max-width: 300px;
}
#omrss-my {
    padding: 0 9px;
}

.omrss-article-bottom {
    vertical-align: middle;
    text-align: center;
}

.user-photo {
    width: 50px;
}
.issues {
    border: none;
}

#cancel {
    margin-right: 2rem;
    background-color:  #DFDFDF;
    color: #9F9F9F;
}

.omrss-text {
    line-height: 32.4px !important;
    display: inline-block;
    vertical-align: middle;
}

.omrss-item {
    margin-top: 15px;
    margin-bottom: 5px;
}

.rss-title {
    display: inline-block;
}

.omrss-tag {
    width: 4em;
}

#omrss-cnt-list {
    overflow-y: hidden;
}

.ev-toggle-feed {
    width: 7em;
}

li.ev-cnt-list:not(.active):hover{
    background-color:#ddd;
    cursor: pointer;
}
#omrss-cnt-list .collection {
    margin-top: 8px;
    margin-bottom: 12px;
}

#omrss-loader {
    position: fixed;
    top: 45%;
    left: 60%;
    z-index: 9999;
}

#omrss-nav {
    background-color: #24292e;
}
#omrss-footer {
    background-color: #364246;
}
#omrss-logo {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin: auto 16px auto 20px;
}
#omrss-logo-font {
    font-size: 1.5rem;
}
.omrss-color {
    color: #f26522 !important;
}

.omrss-bgcolor {
    background: #f26522 !important;
}

nav .brand-logo {
    color: #f26522;
}

.omrss-top-form {
    width: 225px;
    background: hsla(0,0%,100%,.125);
    position: absolute;
    top: 15px;
    height: 34px !important;
    border-radius: 3px;
}

.omrss-top-form-icon {
    top: -14px !important;
    width: 24px;
}

#omrss-search {
    margin: 0;
    line-height: 100% !important;
    border-radius: 3px;
    font-size: 0.95rem;
}

.bold {
    font-weight: bold;
}
/*.omrss-site-back {*/
/*    padding-left: 4px;*/
/*}*/
#omrss-site-nav {
    height: 50px;
    padding: 8.8px 0;
    border-bottom: 1px dashed rgba(0,0,0,0.14);
}
#omrss-site-nav .row .col {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.omrss-readmode, .omrss-onlyunread {
    position: absolute;
    width: 54px;
    padding: 0 15px;
}

.omrss-title-site {
    padding-left: 6px;
    padding-right: 6px;
}
.omrss-list2-title {
    display: inline-flex;
}

.omrss-not-visual {
    visibility: hidden;
}

.omrss-nodisplay {
    display: none;
}

/* 代码自动换行。部分站点 pre-wrap 会导致代码排版异常 */
pre {
    overflow: auto;
    /* white-space: pre-wrap; */
    word-wrap: break-word;
    display: block;
    margin: 0 0 10px;
    color: #333;
    font-size: 85%;
    word-break: break-all;
    background-color: #f5f5f5;
}

figure.highlight {
    margin: 0;
}
figure.highlight td.gutter{
    display: none;
}
figure.highlight td.code {
    width: 98%;
}

.omrss-intro-img {
    line-height: 1rem;
    vertical-align: middle;
}

kbd {
    border: .1em solid #aaa;
    border-radius: 15%;
    display: inline-block;
    padding: .1em .5em;
    background: linear-gradient(180deg, #fff, #fff, #fff, #ddd);
    user-select: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}
kbd:hover {
    background: linear-gradient(0deg, #fff, #fff, #fff, #ddd);
}

.card {
    border-radius: 4px !important;
}

.omrss-donate-block {
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: inline-flex;
}

.omrss-donate-payimg {
    width: 250px;
}

#omrss-main, ul.tabs {
    background-color: rgb(243,243,243);
}

.omrss-issue-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 8px;
    word-break: break-all;
}
.omrss-issue-avatar {
    width: 32.4px;
    height: 32.4px;
    margin-right: 10px;
}
.omrss-issue-msg {
    max-width: 66%;
}
.omrss-reply-line {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    word-break: break-all;
    color: #26a69a;
    padding: 8px 0 12px 0;
    font-size: 1rem;
}
.omrss-reply-line blockquote {
    padding-left: 1rem;
}

.omrss-meta-line {
    display: flex;
    height: 24px;
    justify-content: space-between;
    font-size: 0.9rem !important;
}
.meta-author, .meta-time {
    overflow: hidden;
}

span.meta-recommend {
    margin: auto 14px !important;
    width: 3rem;
}
.omrss-view-stat, .omrss-star-stat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meta-num-l {
    width: 2rem;
}
