/* 指定字体样式 family=Material+Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/font/materialicons.v47.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* end */

main {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
}

.omrss-card-content a {
    color: unset !important;
}
/* end */

/* 代码样式 */
pre[class*="language-"], code[class*="language-"] {
    line-height: 1.3;
}
pre[class*="language-"] {
    padding: 21px 12px 7px 12px;
    border: solid 1px rgba(51,51,51,0.12);
    background: rgba(246,246,246,0.2);
}
code, pre {
    position: relative;
    font-size: 1.3rem;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
pre[class*="language-"]:before {
    position: absolute;
    padding: 1px 5px;
    background: #e8e6e3;
    top: 0;
    left: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #555;
    content: attr(class);
    font-size: .9rem;
    border: solid 1px rgba(51,51,51,0.12);
    border-top: none;
    border-left: none;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
/* end */


/* 自定义的样式 */

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 0;
}

.unread {
    color: #f26522;
    margin-left: 0 !important;
    margin-right: 1px;
}

.read {
    color: #26a69a;
    margin-left: 0 !important;
}

.meta-icon {
    vertical-align: text-bottom;
    line-height: unset;
    margin-right: 2px;
}
i.meta-icon {
    margin-left: 2px;
}

.open-icon {
    font-size: 1.05rem;
}
.visibility-icon {
    font-size: 1rem;
}

.thumb-icon {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
}

.collection .collection-item .omrss-meta-line {
    color: #444;
}

.collection .collection-item.active .omrss-meta-line {
    color: #fff;
}

.meta-time {
    width: 4.5em;
}

.meta-left{
    padding-left: 0.5em;
}

.omrss-reply {
    background-color: rgba(242,242,242,0.8);
    padding: 10px 25px;
    font-size: 0.8em;
}

.collection .collection-item:not(.active) .omrss-title {
    color: #444;
}

.omrss-msg p{
    line-height: 150%;
}

.omrss-title-unread {
    font-weight: bold;
}

.collection-item span {
    display: inline-block;
}

.cnt-left {
    position: fixed;
    top: 64px;
    left: 0;
    height: 100%;
    overflow-y: hidden;
    border-right: 1px dashed;
    padding: 0 10px;
    /* min-width: 28rem; */
}

.nav-divider {
    margin: 8px 0 8px 0 !important;
}

.nav-name {
    padding-bottom: 16px;
    font-size: 1.2rem !important;
}

.cnt-right {
    position: absolute;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 18px 0 28px;
}
.omrss-recent-badge {
    margin-left: 0;
    margin-right: 2em;
    line-height: 32.4px;
    font-weight: 300;
}

/* 最近更新文章 */
.omrss-recent-avatar {
    height: 32.4px !important;
    width: 32.4px !important;
    margin-right: 0.3rem;
    vertical-align: middle;
}

.omrss-recent-site {
    vertical-align: middle;
}

.omrss-recent-title {
    font-size: 18px !important;
    word-wrap: break-word;
}

.omrss-card-content {
    padding: 12px !important;
}

.omrss-sub-btn {
    min-width: 4rem !important;
    text-align: center;
}

#omrss-recommend {
    margin-top: 0.8rem;
}

#omrss-recommend .row {
    margin-bottom: 0 !important;
}

.omrss-rank-star {
    width: 80px;
    text-align: center;
}

.omrss-rank-score {
    font-weight: 300;
}

@media only screen and (max-width: 992px) {
    .cnt-left {
        display: none;
    }
    .omrss-top-form {
        display: none;
    }
    #omrss-logo-font {
        left: 0;
        -webkit-transform: none;
        transform: none;
    }
    .cnt-right {
        left: 0;
    }
    .flow-text {
        font-size:1.2rem
    }
    h1 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 0.6rem;
    }
    h2 {
        font-size: 1.8rem;
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
    h3 {
        font-size: 1.6rem;
        margin-top: 0.6rem;
        margin-bottom: 0.2rem;
    }
    h4 {
        font-size: 1.4rem;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
    }
    h5 {
        font-size: 1.3rem;
    }
    h6 {
        font-size: 1.2rem;
    }
    #omrss-article-bottom {
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    .omrss-top-form {
        left: 400px;
    }
    .cnt-left {
        width: 400px;
    }
    .cnt-right {
        left: 400px;
    }
    .omrss-title {
        font-size: 1rem;
        max-width: 86%;
    }
    .omrss-meta {
        font-size: 0.9rem;
    }
    /*
    .omrss-meta-line {
        line-height: 1.4rem;
    }*/
    .omrss-title-line {
        line-height: 1.5rem;
    }
    .read, .unread {
        line-height: 1.5rem;
    }
    .favico {
        width: 1.5rem;
        height: 1.5rem;
    }
    .collection .collection-item.ev-cnt-list {
        padding: 4px 8px;
    }
    #omrss-pager {
        width: 380px;
    }
    #omrss-pager .pagination {
        margin: 10px 0;
    }
    .flow-text {
        font-size:1.2rem
    }
    .meta-num-s {
        width: 1.5em;
    }
    .meta-num-l {
        width: 2.5em;
    }
    .unread {
        font-size: 12px;
    }
    .read {
        font-size: 14px;
    }
    h1 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 0.6rem;
    }
    h2 {
        font-size: 1.8rem;
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
    h3 {
        font-size: 1.6rem;
        margin-top: 0.6rem;
        margin-bottom: 0.2rem;
    }
    h4 {
        font-size: 1.4rem;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
    }
    h5 {
        font-size: 1.3rem;
    }
    h6 {
        font-size: 1.2rem;
    }
    #omrss-article-bottom {
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    .meta-author {
        width: 7rem;
    }
    span.meta-recommend {
        margin-left: 0;
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 1600px) {
    .omrss-top-form {
        left: 500px;
    }
    .cnt-left {
        width: 500px;
    }
    .cnt-right {
        left: 500px;
    }
    .omrss-title {
        font-size: 1.1rem;
        max-width: 88%;
    }
    .omrss-meta {
        font-size: 1rem;
    }
    .omrss-meta-line {
        line-height: 1.7rem;
    }
    .omrss-title-line {
        line-height: 1.8rem;
    }
    .read, .unread {
        line-height: 1.8rem;
    }
    .favico {
        width: 1.6rem;
        height: 1.6rem;
    }
    .collection .collection-item.ev-cnt-list {
        padding: 8px 16px;
    }
    #omrss-pager {
        width: 480px;
    }
    #omrss-pager .pagination {
        margin: 15px 0;
    }
    .flow-text {
        font-size:1.3rem
    }
    .meta-num-s {
        width: 2em;
    }
    .meta-num-l {
        width: 2em;
    }
    .unread {
        font-size: 14px;
    }
    .read {
        font-size: 16px;
    }

    h1 {
        font-size: 2.4rem;
        margin-top: 1.4rem;
        margin-bottom: 0.8rem;
    }
    h2 {
        font-size: 2.1rem;
        margin-top: 1rem;
        margin-bottom: 0.6rem;
    }
    h3 {
        font-size: 1.8rem;
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
    h4 {
        font-size: 1.5rem;
        margin-top: 0.6rem;
        margin-bottom: 0.3rem;
    }
    h5 {
        font-size: 1.4rem;
    }
    h6 {
        font-size: 1.3rem;
    }

    #omrss-article-bottom {
        padding: 24px;
    }
    .meta-author {
        width: 7.5rem;
    }
    span.meta-recommend {
        margin-left: 0;
        margin-right: 2.5em;
    }
}

.rss-title {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1280px) {
    /* 只显示一栏 */
    .omrss-item {
        width: 100% !important;
    }
    .omrss-right-space {
        margin-right: 2rem;
    }
}
@media only screen and (min-width: 1280px) {
    .omrss-right-space {
        margin-right: 0.5rem;
    }
}
@media only screen and (min-width: 1800px) {
    .omrss-right-space {
        margin-right: 2rem;
    }
}
#omrss-header {
    position: fixed;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

#omrss-third img, #omrss-third iframe, #omrss-third video {
    max-width: 100% !important;
}

#omrss-third ul:not(.browser-default) {
    padding-left: 1.5em;
    list-style-type: initial;
}
#omrss-third ul:not(.browser-default) > li{
    list-style-type: initial;
}

.fixed-action-btn {
    right: 4rem;
    bottom: 5rem;
}

.favico {
    margin-right: 3px;
    vertical-align: baseline;
}

.qrcode {
    display: block;
    margin: 0 auto;
    max-width: 450px;
    overflow-y: hidden;
}

#omrss-pager {
    position: fixed;
    bottom: 0;
}

#omrss-active-pager a {
    color: #fff;
}

.flex-container {
    display: flex;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination li {
    width: 14%;
    margin: auto 3%;
}

#modal-qrcode {
    max-width: 50%;
}

.omrss-visitor-avatar {
    font-size: 64px;
}

#omrss-sidenav {
    /* margin-top: 64px; */
    max-width: 300px;
}

.omrss-avatar {
    width: 54px;
    max-height: 36px;
    vertical-align: middle;
    padding-left: 9px;
    padding-right: 9px;
}

.omrss-article-bottom {
    vertical-align: middle;
    text-align: center;
}

.user-photo {
    width: 50px;
}
.issues {
    border: none;
}

.omrss-issue-meta {
    font-size: 1rem;
}

.omrss-issue-name {
    width: 20em;
}

#cancel {
    margin-right: 2rem;
    background-color:  #DFDFDF;
    color: #9F9F9F;
}

.rss-text {
    line-height: 32.4px !important;
    display: inline-block;
}

.omrss-item {
    margin-top: 15px;
    margin-bottom: 5px;
}

.rss-title {
    display: inline-block;
}

.omrss-item .favico {
    vertical-align: text-bottom;
}

.omrss-tag {
    width: 4em;
}

#omrss-cnt-list {
    overflow-y: hidden;
}

.ev-toggle-feed {
    width: 7em;
}

li.ev-cnt-list:not(.active):hover{
    background-color:#ddd;
    cursor: pointer;
}
#omrss-cnt-list .collection {
    margin-top: 8px;
    margin-bottom: 12px;
}

#omrss-loader {
    position: fixed;
    top: 45%;
    left: 60%;
    z-index: 9999;
}

#omrss-nav {
    background-color: #24292e;
}
#omrss-footer {
    background-color: #364246;
}
#omrss-logo {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin: auto 16px auto 20px;
}
#omrss-logo-font {
    font-size: 1.5rem;
}
.omrss-color {
    color: #f26522 !important;
}

.omrss-bgcolor {
    background: #f26522 !important;
}

nav .brand-logo {
    color: #f26522;
}

.omrss-top-form {
    width: 300px;
    background: hsla(0,0%,100%,.125);
    position: absolute;
    top: 16px;
    height: 36px !important;
    border-radius: 4px;
}

.omrss-top-form-icon {
    top: -14px !important;
    width: 24px;
}

#omrss-search {
    margin: 0;
    line-height: 100% !important;
    border-radius: 4px;
    font-size: 0.95rem;
}

/* 代码自动换行。部分站点 pre-wrap 会导致代码排版异常 */
pre {
    overflow: auto;
    /* white-space: pre-wrap; */
    word-wrap: break-word;
    display: block;
    margin: 0 0 10px;
    color: #333;
    font-size: 85%;
    word-break: break-all;
    background-color: #f5f5f5;
}

figure.highlight {
    margin: 0;
}
figure.highlight td.gutter{
    display: none;
}
figure.highlight td.code {
    width: 98%;
}

.omrss-intro-img {
    line-height: 1rem;
    vertical-align: middle;
}
