<div>
    <!-- 内容标题及介绍 -->
    {% include 'cnt-meta.html' %}

    <div class="divider"></div>

    <!-- 第三方爬虫内容 -->
    <div class="flow-text">
        {% include 'cnt-detail.html' %}
    </div>

    <div class="divider"></div>

    <!-- 文章底部的加群入口 -->
    {% include 'cnt-addgroup.html' %}

    <!-- 悬浮球 -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">more_vert</i>
        </a>
        <ul>
            <li><a class="btn-floating yellow darken-1 tooltipped modal-trigger" data-position="left"
                   data-tooltip="不看该站点所有文章" data-target="omrss-unsub-feed">
                <i class="material-icons">delete</i></a>
            </li>
            <li><a target="_blank" href="{{ article.src_url }}" class="btn-floating blue tooltipped" data-position="left" data-tooltip="新窗口打开">
                <i class="material-icons">open_in_new</i></a></li>
            <li><a id="omrss-top" class="btn-floating green darken-1 tooltipped" data-position="left"
                   data-tooltip="回到顶部"><i class="material-icons">publish</i></a>
            </li>

            <li><a id="omrss-like" class="btn-floating red tooltipped" data-position="left"
                   data-tooltip="喜欢" data-id="{{ article.uindex }}">
                <i class="material-icons">thumb_up</i></a></li>
        </ul>
    </div>

    <!-- 取消订阅确认框 -->
    <div id="omrss-unsub-feed" class="modal">
        <div class="modal-content">
            <h2>确定吗？</h2>
            <h4>取消订阅后将收不到该站点的所有更新，你可以在右上角
                <i class="material-icons omrss-color">rss_feed</i>我的订阅重新订阅该站点</h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">取消</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="omrss-unlike"
               data-site="{{ article.site.name }}">确定</a>
        </div>
    </div>

</div>

<script>
    $('.fixed-action-btn').floatingActionButton();
    $('.tooltipped').tooltip();
    $('.modal').modal();
    // $('.materialboxed').materialbox();

    /* 文章置顶 */
    $(document).on('click', '#omrss-top', function () {
        $('#omrss-main').scrollTop(0);
    });
</script>