<div class="card-panel hoverable">

                    <span class="text-darken-2 add-group">想要更多技术交流和探讨？欢迎
                        <a href="#modal-qrcode" class="modal-trigger tooltipped" data-tooltip="加群互动"
                           data-position="top">
                            <i class="material-icons add-group">touch_app</i>点此加群互动</a></span>

    <span class="text-darken-2 add-group"> OR 想和本文作者互动？
                        <a href="#" class="tooltipped" data-tooltip="去原文留言" data-position="top">
                            <i class="material-icons add-group">touch_app</i>点此去原文留言</a></span>

</div>

<!-- Modal Structure -->
<div id="modal-qrcode" class="modal">
    <div class="modal-content">
        <img class="qrcode" src="/static/img/qrcode.jpg"/>
    </div>
</div>