{% load helpers %}
<h1>›› 订阅源设置</h1>

<div class="divider"></div>

<div class="row">
    {% for feed in feeds %}
    <div class="col s6 rss-item">
        <img src="{{ feed.favicon }}" class="circle responsive-img favico rss-text"/>
        <div class="rss-text rss-title rss-text">
            <a href="{{ feed.link }}" class="tooltipped" data-tooltip="{{ feed.brief }}" data-position="top">{{ feed.cname }}</a>
        </div>

        <a class="waves-effect waves-light btn-small right rss-text rss-meta">取消订阅</a>
        <span class="rss-text right rss-text rss-meta">{{ feed.freq }}</span>
        <span class="right rss-text rss-meta yellow-text text-darken-2">{{ feed.star |to_stars }}</span>
    </div>
    {% endfor %}
</div>
