<h1>›› 订阅源设置中心</h1>

<div class="divider"></div>

<div class="row">
    <div class="col s6 rss-item">
        <img src="/static/img/favicon.ico" class="circle responsive-img favico rss-text"/>
        <div class="rss-text rss-title rss-text">
            <a href="#" class="tooltipped" data-tooltip="这是一个介绍性的文本" data-position="top">码农周刊</a>
        </div>


        <a class="waves-effect waves-light btn-small right rss-text rss-meta">取消订阅</a>
        <span class="rss-text right rss-text rss-meta">日更</span>
        <span class="right rss-text rss-meta yellow-text text-darken-2">★★★</span>
    </div>

    <div class="col s6 rss-item">
        <img src="/static/img/favicon.ico" class="circle responsive-img favico rss-text"/>
        <div class="rss-text rss-title rss-text">
            <a href="#" class="tooltipped" data-tooltip="这是一个介绍性的文本" data-position="top">码农周刊</a>
        </div>


        <a class="waves-effect waves-light btn-small right rss-text rss-meta">取消订阅</a>
        <span class="rss-text right rss-text rss-meta">日更</span>
        <span class="right rss-text rss-meta yellow-text text-darken-2">★★★</span>
    </div>
    <div class="col s6 rss-item">
        <img src="/static/img/favicon.ico" class="circle responsive-img favico rss-text"/>
        <div class="rss-text rss-title rss-text"><a href="#">前端日报</a></div>


        <a class="waves-effect waves-light btn-small right rss-text rss-meta">重新订阅</a>
        <span class="rss-text right rss-text rss-meta">日更</span>
        <span class="right rss-text rss-meta yellow-text text-darken-2">★</span>
    </div>

</div>
