<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/prism.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>

<div class="preloader-wrapper big active" id="omrss-loader">
    <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>

<header id="omrss-header">
    <nav id="omrss-nav">
        {# 顶部导航栏 #}
        {% include 'top-nav.html' %}
    </nav>
</header>

<main>
    {# 页面内容 #}
    <div>
        <div class="eal lighten-2 cnt-left" id="omrss-left">
            <div id="omrss-cnt-list">
                {# 内容列表 #}
                {% include 'left-list.html' %}
            </div>

        </div>

        <div class="eal lighten-5 cnt-right" id="omrss-main">
            {% include 'intro.html' %}
        </div>
    </div>
</main>

{# 底部 #}
{% include 'bottom-footer.html' %}

<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/prettydate.min.js"></script>
<script src="/static/js/prettydate.zh-CN.min.js"></script>
<script src="/static/js/materialize.min.js"></script>
<script src="/static/js/uuid.js"></script>
<script src="/static/js/md5.min.js"></script>
<script src="/static/js/cache.js"></script>
<script src="/static/js/prism.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/vimlike-shortcuts.js"></script>
</body>
</html>