<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>

<header>
    <nav>
        {# 顶部导航栏 #}
        {% include 'top-nav.html' %}
    </nav>
</header>

<main>
    {# 页面内容 #}
    <div class="row">
        <div class="col s4 eal lighten-2 cnt-left">
            <div id="cnt-list">
                {# 内容列表 #}
                {% include 'left-list.html' %}
            </div>

            <div id="page">
                {# 翻页 #}
                {% include 'left-pager.html' %}
            </div>

        </div>

        <div class="col s8 eal lighten-5 cnt-right">
            {% include 'feeds.html' %}
        </div>
    </div>
</main>

{# 底部 #}
{% include 'bottom-footer.html' %}

<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/materialize.min.js"></script>
<script src="/static/js/uuid.js"></script>
<script src="/static/js/app.js"></script>

</body>
</html>