<h1>›› 首页</h1>

<blockquote>
    “Oh My RSS”，这才是我要的RSS！

    <p>预计阅读时间<b> 5 </b>分钟</p>
</blockquote>

<div class="divider"></div>

<div class="flow-text">
    Oh My RSS 是一个开源的在线RSS服务，通过爬虫汇聚互联网上的精华内容，旨在为中国的 IT 从业者提供一个优质的学习圈子。
    <p>主要功能特性如下：</p>

    <h2>一、持续扩充的优质订阅源</h2>
    为了确保内容质量，减少阅读负担，Oh My RSS 对订阅源有严格的筛选标准：

    <ul>
        <li>（1）巨头公司的技术博客</li>
        <li>（2）技术大拿的博客</li>
        <li>（3）互联网名站的热门</li>
    </ul>

    一些支持的订阅源：
    <p>
        <code class="language-markup">Gitdub热门</code>、
        <code class="language-markup">阮一峰的网络日志</code>、
        <code class="language-markup">博客园精华</code>、
        <code class="language-markup">HelloGitHub</code>、
        <code class="language-markup">...</code>
    </p>

    <h2>二、VimLike的快捷键</h2>
    参考 Vim 的按键设计，无鼠操作也很便捷：

    <table class="responsive-table">
        <tr>
            <td><code class="language-markup">n</code> 下一篇文章（next）</td>
            <td><code class="language-markup">N</code> 上一篇文章</td>
            <td><code class="language-markup">F</code> 切换全屏（fullscreen）</td>
        </tr>

        <tr>
            <td><code class="language-markup">p</code> 下一页（page）</td>
            <td><code class="language-markup">P</code> 上一页</td>
            <td><code class="language-markup">r</code> 刷新页面（reload）</td>
        </tr>
        <tr>
            <td><code class="language-markup">j</code> 向下移动一行</td>
            <td><code class="language-markup">k</code> 向上移动一行</td>
            <td><code class="language-markup">space</code> 向下翻一页</td>
        </tr>
        <tr>
            <td><code class="language-markup">gg</code> 回顶部</td>
            <td><code class="language-markup">G</code> 去底部</td>
            <td><code class="language-markup">o</code> 链接全览</td>
        </tr>
    </table>

    <p>现在开始按 <code class="language-markup">n</code> 键开启第一篇阅读之旅吧。</p>

    <h2>三、Webapp助力隐私保护</h2>
    基于 Web 本地存储技术构建，无需登录注册，从源头杜绝隐私问题。

    <h2>四、其他</h2>
    更多特性等你发掘，加入Github一起成长！
    <p></p>
</div>

