<h1>›› 留言</h1>
<div class="divider"></div>

<ul class="collection issues">
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">richshaw</span><span class="issue-time">一周前</span>
        <p>如果我有ipa包和开发者证书，就不需要再编译源码了吧</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A
            网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。 举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>
    <li class="collection-item avatar">
        <img src="/static/img/yuna.jpg" alt="" class="circle">
        <span class="omrss-title">d0e**a6e</span><span class="issue-time">一小时前</span>
        <p>所谓第三方登录，实质就是 OAuth 授权。用户想要登录 A 网站，A 网站让用户提供第三方网站的数据，证明自己的身份。获取第三方网站的身份数据，就需要 OAuth 授权。

            举例来说，A 网站允许 GitHub 登录，背后就是下面的流程。</p>
    </li>

</ul>

<!-- 悬浮球 -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red modal-trigger tooltipped" href="#model-add-issue" data-position="left"
        data-tooltip="添加留言">
        <i class="large material-icons">edit</i>
    </a>
</div>

<!-- 添加留言窗口 -->
<div id="model-add-issue" class="modal">
    <div class="modal-content">
        <h3>添加留言</h3>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="issue-input-detail" class="materialize-textarea"
                          data-length="1000" maxlength="1000"></textarea>
                <label for="issue-input-detail">问题说明（必填，公开显示）</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input id="issue-input-name" class="validate" type="text" data-length="20" maxlength="20">
                <label for="issue-input-name">您的昵称（选填，公开显示）</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">contact_mail</i>
                <input id="issue-input-contact" class="validate" type="text" data-length="50"
                       maxlength="50">
                <label for="issue-input-contact">联系方式（选填，仅站长可见）</label>
            </div>
        </div>

        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light" id="cancel">取消</button>
            <button class="btn waves-effect waves-light">提交</button>
        </div>
    </div>
</div>

<script>
    $('.fixed-action-btn').floatingActionButton();
    $('.tooltipped').tooltip();
    $('.modal').modal({"dismissible": false});
    $('textarea#issue-input-detail, input#issue-input-name, input#issue-input-contact').characterCounter();
</script>