<ul class="collection">
    {% for article in articles %}
        <li class="collection-item">
            <div>
                <img src="{{ article.site.favicon }}" class="circle responsive-img favico"/>
                <span class="title truncate">{{ article.title }}</span>
                <span class="right"><a href="{{ article.site.link }}"
                                       target="_blank">@{{ article.site.author }}</a></span>
            </div>

            <div>
                <i class="material-icons unread meta-left">lens</i>

                <span class="meta-left meta-time">一小时前</span>
                <span class="meta-left">0人浏览</span>

                <span class="right meta-right meta-num">0</span>
                <i class="material-icons meta-icon right group-icon">group_add</i>
                <span class="right meta-right meta-num">0</span>
                <i class="material-icons meta-icon right thumb-icon">thumb_up</i>

            </div>
        </li>
    {% endfor %}
</ul>