# This is a basic workflow to help you get started with Actions

name: RunMpwx

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    - cron: "*/10 * * * *"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Set up Python3
        uses: actions/setup-python@v2
        with:
          python-version: 3.x
    
      - name: Install lib
        run: pip3 install requests

      # Runs a set of commands using the runners shell
      - name: Run mpwx
        timeout-minutes: 11
        run: python3 .github/workflows/mpwx_ga.py
